{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Appointment</title>
    <link rel="stylesheet" href="{% static 'css/addbook.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Book an Appointment</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="error">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
        
    </div>
</body>
</html>
