
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/allpro.css">
  <meta charset="UTF-8">
  <title>Netflix Sign In</title>

  <div class="login-container">
    <h1>Sign In</h1>
    <input type="email" placeholder="Email or phone number">
    <input type="password" placeholder="Password">
    <button>Sign In</button>
    <div class="options">
      <label><input type="checkbox" checked> Remember me</label>
      <a href="#">Need help?</a>
    </div>
    <p style="margin-top: 20px;">New to Netflix? <a href="#">Sign up now</a>.</p>
  </div>

  
</head>
</body>
</html>
