<!-- <form method="post">
{% csrf_token%}
{{form}}
<input type="submit">
</form>
 -->





<!-- <form method="post">
    {%csrf_token%}
    {{form}}
    <input type="submit">
</form> -->

{% load static %}

<html>
    <head>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
  rel="stylesheet"/>
    </head>

  <form method="post">
  {% csrf_token %}


  <h3>Product Add Form </h3>

 <!-- Email input -->
  <div data-mdb-input-init class="form-outline mb-4">
   {{form.name}}
<label class="form-label">Name</label>


  </div>

  <!-- Password input -->
  <div data-mdb-input-init class="form-outline mb-4">
   {{form.price}}
    <label class="form-label">Price</label>
  </div>

  <!-- Submit button -->
  <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">SUBMIT</button>
</form>

  
<script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
    ></script>
<style>
  form {
   height: 300px;
    border: 1px solid black;
    width: 30%;
    margin: auto;
    margin-top: 50px;
}

h3{
    color: blue;
    text-align: center;
}

</style>

  </body>
</html>








<!-- <div data-mdb-input-init class="form-outline mb-4">
  {{ form.id }}
  <label class="form-label" for="{{ form.id.id_for_label }}">ID</label>
</div> -->