{% load static %}


<html>
    <head>
        <title>document</title>


      <link rel="stylesheet" href="{% static 'mypro.css' %}">
    </head>
    <body>
        <h1>hello</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit velit voluptatem praesentium vitae incidunt sed excepturi optio, recusandae, repudiandae iste distinctio nobis ipsam aut ducimus tenetur omnis libero inventore maiores.</div></p>
        <div class="main">
            
        </div>
    </body>
</html>