{% extends 'base2.html' %}
{% load static %}
{% block contents %}
<div class="custom-register-wrapper">
  <div class="custom-register-box">
<form method="POST">
    {% csrf_token %}

    <div class="custom-register-group">
        <label>Username</label>
        {{ form.username }}
        {% if form.username.errors %}
            <div style="color:red;">{{ form.username.errors }}</div>
        {% endif %}
    </div>

    <div class="custom-register-group">
        <label>Email</label>
        {{ form.email }}
        {% if form.email.errors %}
            <div style="color:red;">{{ form.email.errors }}</div>
        {% endif %}
    </div>

    <div class="custom-register-group">
        <label>Password</label>
        {{ form.password1 }}
        {% if form.password1.errors %}
            <div style="color:red;">{{ form.password1.errors }}</div>
        {% endif %}
    </div>

    <div class="custom-register-group">
        <label>Confirm Password</label>
        {{ form.password2 }}
        {% if form.password2.errors %}
            <div style="color:red;">{{ form.password2.errors }}</div>
        {% endif %}
    </div>

    <button type="submit" class="custom-register-btn">Register</button>
</form>

<div class="custom-register-footer">
    <p>Already have an account? <a href="#">Login</a></p>
</div>

{% endblock %}
